
@font-face {font-family: "iconfont";
  src: url("../fonts/iconfont.eot-t=1492567686997")/*tpa=http://www.flaginfo.com.cn/fonts/iconfont.eot?t=1492567686997*/; /* IE9*/
  src: url("../fonts/iconfont.eot-t=1492567686997#iefix")/*tpa=http://www.flaginfo.com.cn/fonts/iconfont.eot?t=1492567686997#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
  url("../fonts/iconfont.woff-t=1492567686997")/*tpa=http://www.flaginfo.com.cn/fonts/iconfont.woff?t=1492567686997*/ format('woff'), /* chrome, firefox */
  url("../fonts/iconfont.ttf-t=1492567686997")/*tpa=http://www.flaginfo.com.cn/fonts/iconfont.ttf?t=1492567686997*/ format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("../fonts/iconfont.svg-t=1492567686997#iconfont")/*tpa=http://www.flaginfo.com.cn/fonts/iconfont.svg?t=1492567686997#iconfont*/ format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duanexin:before { content: "\e7f3"; }

.icon-chanyexietong:before { content: "\e7f4"; }

.icon-liuliang:before { content: "\e7f5"; }

.icon-wulianwang:before { content: "\e7f6"; }

.icon-chanpinbaozhuang:before { content: "\e7f7"; }

.icon-xitongzhicheng:before { content: "\e7f8"; }

.icon-xiaoshoupeixun:before { content: "\e7f9"; }

.icon-gonggei:before { content: "\e7fa"; }

.icon-shichang:before { content: "\e7fb"; }

.icon-yunying:before { content: "\e7fc"; }

.icon-kuaixiao:before { content: "\e7fd"; }

.icon-qiche:before { content: "\e7fe"; }

.icon-shiti:before { content: "\e7ff"; }

.icon-guanbi:before { content: "\e800"; }

.icon-shijian:before { content: "\e801"; }

.icon-jinrong:before { content: "\e802"; }

.icon-waiqinqiandao:before { content: "\e803"; }

.icon-hongbao:before { content: "\e804"; }

.icon-shenpixietong:before { content: "\e805"; }

.icon-shangye:before { content: "\e806"; }

.icon-xiaye:before { content: "\e807"; }

.icon-flag:before { content: "\e808"; }

.icon-shousuo:before { content: "\e809"; }

.icon-zhankai:before { content: "\e80a"; }

.icon-yaodian:before { content: "\e80b"; }

.icon-yaodian1:before { content: "\e80c"; }

.icon-fuwuzhichi:before { content: "\e80d"; }

.icon-kaifangbiaozhun:before { content: "\e80e"; }

.icon-huidingbu:before { content: "\e80f"; }

.icon-zhankai1:before { content: "\e810"; }

